.span3
  #sidebar
    #gravatar
      = gravatar_image_tag(current_user.email)
    #gravatar-button
      %a.btn{ :href => 'http://gravatar.com/', :rel => 'nofollow', :target => '_blank' }
        %i.icon-camera-retro
        Gravatar
