= render :partial => 'sidebar'

.span9
  #content
    %h1
      %i.icon-home
      Dashboard
    %br/

    .tabbable
      = render :partial => 'tabs', :locals => { :active => params[:action] }

      - if @message
        .lead= @message
      - else
        = render :partial => 'beers/table', :locals => { :beers => @beers }
