.span3
  #sidebar
    #b= image_tag 'b.png'
    %h1 Forgot Password

.span9
  #content
    = form_tag password_resets_path, :method => :post, :class => 'well' do
      %h1 Reset your password

      %p
        = text_field_tag :email, params[:email], :placeholder => 'email'

      = submit_tag "Reset Password", :class => 'btn'
