%p
  Hey there, #{@user.username},

%p
  You should #{link_to 'revisit goodbre.ws', root_url}! We've updated the site
  so that recommendations are much, much faster, so please give us another shot!
  We'd love to be a part of your beer exploration experience, and we've worked
  hard to ensure that everybody gets recommendations/

%p
  To get started, just rate one more beer! In most cases, it should only be a
  few minutes before you get recommendations for the first time. Once you have
  them, you're good to go! Further ratings will improve the accuracy of all
  future recommendations. However, please keep in mind that it may take slightly
  longer to deliver your first recommendations if the site is extremely active
  when you come back. 

%p
  So what are you waiting for, #{@user.username}? Better brews are waiting for you!

%p
  \- goodbre.ws
