%p
  Hey there! Click the URL below to reset your password.

%p
  = edit_password_reset_url(@user.password_reset_token)

%p
  If you did not make this request, simply ignore this email and your password will not change.

%p
  Drink safely!
