%p
  Hey there, #{@user.username}!

%p
  Thank you for joining goodbre.ws! I hope you'll enjoy using it to further your beer discovery experience. There are some usage tips on
  = link_to 'the about page', about_url
  if you want to check that out initially. Otherwise, feel free to ask any questions or voice any comments or concerns on
  = link_to 'the feedback page.', 'https://github.com/davidcelis/goodbre.ws/issues'

%p
  I am but one man, but I'll try to address all issues as promptly as I can! Thanks again for joining, and drink safely!

%p
  \- goodbre.ws
