.span3
  #sidebar
    #b= image_tag 'b.png'
    %h1 Search

.span9
  #content
    %h1
      %i.icon-search
      Search Results
    %br/

    .tabbable
      = render :partial => 'tabs', :locals => { :active => params[:action], :query => params[:q] }
      = render :partial => 'beers/table', :locals => { :beers => @beers }

    %p
      %a.btn.btn-small{ :href => new_suggested_beer_path }
        %i.icon-plus
        Suggest a new beer
