.row-fluid
  .span6
    #logo
      = link_to image_tag('logo_sm.png'), root_path
  .span3
    #current-user
      - if signed_in?
        %a.btn{ :href => edit_account_path }
          %i.icon-cogs
          Settings
        %a.btn{ :href => sign_out_account_path, 'data-method' => :post }
          %i.icon-signout
          Sign Out
      - else
        %a.btn{ :href => sign_in_account_path }
          %i.icon-signin
          Sign In
        %a.btn{ :href => new_account_path }
          %i.icon-user
          Register
  .span3
    #search
      = form_tag beers_search_path, :method => :get, :class => 'form-search' do
        .input-append
          = text_field_tag 'q', nil, :placeholder => 'Search'
          %button.btn.add-on
            %i.icon-search
