%ul.nav.nav-tabs
  %li#beers-tab{ :class => active == 'show' ? 'active' : '' }
    %a{ :href => brewery_path(brewery) }
      %i.icon-glass
      Beers (#{brewery.beers.where('discontinued IS NOT TRUE').count})
  %li#discontinued-tab{ :class => active == 'discontinued' ? 'active' : '' }
    %a{ :href => discontinued_brewery_path(brewery) }
      %i.icon-ban-circle
      Discontinued (#{brewery.beers.where(:discontinued => true).count})
