.span3
  #sidebar
    #brewery-image
      = image_tag('brewery.png')

.span9
  #content
    %h1
      %i.icon-home
      = @brewery.name
    %br/

    .tabbable
      = render :partial => 'tabs', :locals => { :active => params[:action], :brewery => @brewery }
      = render :partial => 'beers/table', :locals => { :beers => @beers }

