.btn-group#beer-actions
  %button.btn{ :data => { :id => beer.id, :action => :like } }
    %i.icon-thumbs-up
  %button.btn#dislike-beer{ :data => { :id => beer.id, :action => :dislike } }
    %i.icon-thumbs-down
  %button.btn#stash-beer{ :data => { :id => beer.id, :action => :stash } }
    %i.icon-book
  %button.btn#hide-beer{ :data => { :id => beer.id, :action => :ignore } }
    %i.icon-eye-close
