.span3
  #sidebar
    #b= image_tag 'b.png'
    %h1 Settings
    %br/

    %a.btn.btn-warning.hidden-beers-button{ :href => hidden_account_path }
      %i.icon-eye-close
      Hidden Beers
    %a.btn.btn-danger.delete-account-button{ :href => account_path, 'data-method' => 'delete', 'data-confirm' => 'Are you absolutely sure?'}
      %i.icon-trash
      Delete My Account
