@import "font-awesome";
@import 'constants';

body {
  font-family: 'Century Gothic', sans-serif !important;
  font-size: 12px;
  background-color: $green;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a, a:hover, a:active {
  color: #963800;
}

p {
  margin: 20px 0;
}

.placeholder {
  color: #aaa;
}

.strong {
  font-weight: bold;
}

.center {
  text-align: center;
}

.emphasized {
  font-style: italic;
}

#header, #footer, #application {
  @include rounded;
  background-color: white;
}

#header {
  margin: 20px 0px;
  padding: 10px 20px;

  #current-user {
    margin: 10px 0 0 0;
    font-size: 14px;
    text-align: right;
  }

  #logo {
    img {
      height: 42px;
      width: 186px;
    }
  }

  .search-form {
    margin: 10px 0 0 0;

    form {
      margin: 0 !important;

      input {
        margin: 0 !important;
      }

      .input-append, .input-prepend {
        width: 100%;

        input {
          width: 90%;
        }

        button {
          height: 30px;
          position: relative;
        }
      }
    }
  }
}

.search-button {
  height: 30px !important;
}

.addon {
  height: 28px !important;
}

#application {
  margin: 0;
}

#sidebar {
  #b {
    img {
      width: 90px;
      height: 155px;
    }
  }

  #brewery-image {
    img {
      width: 117px;
      height: 135px;
    }
  }
}

#sidebar, #content {
  padding: 20px;
}

#gravatar-button {
  margin: 20px 0px 0px 18px;
}

.delete-account-button {
  margin-top: 20px;
}

#footer {
  margin: 20px 0;
  padding: 10px 20px;
  text-align: center;
}

#twitter-follow {
  margin: 5px 0 0 0;
}

.table-note {
  margin-top: 10px;
}

.like-button, .dislike-button {
  width: 77px !important;
  text-align: left;
}

#gravatar, .gravatar {
  img {
    height: 150px;
    width: 150px;
  }
}

.gravatar-small {
  img {
    height: 50px;
    width: 50px;
  }
}
