.span3
  #sidebar
    = image_tag 'b.png'
    %h1 New Brewery

.span9
  #content
    = form_for @temp_brewery, :url => create_suggested_brewery_path, :html => { :class => 'well' } do |f|
      %h1
        %i.icon-plus
        Suggest a new brewery
      %br/

      .control-group{ :class => @temp_brewery.errors[:name].any? ? 'error' : '' }
        .controls
          %input{ :name => 'temp_brewery[name]', :placeholder => 'name', :type => 'text', :value => @temp_brewery.name }
          %span.help-inline= @temp_brewery.errors[:name].join(' and ')
      .control-group{ :class => @temp_brewery.errors[:website].any? ? 'error' : '' }
        .controls
          .input-prepend
            %span.add-on http://
            %input{ :name => 'temp_brewery[website]', :placeholder => 'brewery-website.com/', :type => 'text', :value => @temp_brewery.website }
            %span.help-inline= @temp_brewery.errors[:website].join(' and ')

      %br/

      %button.btn
        Submit
